@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = " - najczęściej zadawane pytania";
}

<p><h2 style="text-align:center">Rozkład zajęć studiów stacjonarnych Uniwersytetu Ekonomicznego w&nbsp;Poznaniu</h2></p>

<p><h3 style="text-align:center;color:#aaa;">Najczęściej zadawane pytania</h3></p>

<hr />

<h4>Dlaczego w niektórych planach bloki układają się według godzin i czasu trwania zajęć, a w niektórych są jednolite?</h4>
<p style="text-align:justify">W przypadku planów zawierających bloki zajęć, których czas trwania się pokrywa, układ przyjmuje postać jednolitych bloków, niezależnych od godzin rozpoczęcia i zakończenia zajęć tak, aby bloki na siebie nie nachodziły. Ten układ jest dostępny również dla rozkładów zajęć o domyślnym układzie czasowym.</p>
<br />
<h4>Dlaczego plan znika z mojej listy lub w ogóle nie mogę go dodać?</h4>
<p style="text-align:justify">Lista planów korzysta z plików cookies i jest przypisana do wykorzystywanej przeglądarki internetowej, a więc jeżeli korzystasz ze strony na innej przeglądarce/urządzeniu, musisz na nim ponownie dodać wybrany plan. Jeżeli korzystasz z tej samej przeglądarki i plan został usunięty poza Twoją kontrolą, to znaczy, że pliki cookies zostały usunięte - jeżeli Twoja przeglądarka robi to automatycznie, należy zmienić tą opcję w ustawieniach - tak samo w przypadku, gdy plan w ogóle się nie zapisuje, ponieważ pliki cookies nie są wtedy w ogóle zapisywane.</p>
<br />
<h4>Dlaczego strona ciągle mi się ładuje i widzę napis "Proszę czekać..."?</h4>
<p style="text-align:justify">Wskazuje to na przerwanie połączenia sieciowego lub korzystanie z funkcji blokowania skryptów na stronie.</p>
<h4>Czy jest dostępna aplikacja na urządzenia mobilne?</h4>
<p style="text-align:justify">Tak, udostępniliśmy aplikację na system Android, którą można pobrać <a href="https://play.google.com/store/apps/details?id=pl.proclever.rozkadzajuep&rdid=pl.proclever.rozkadzajuep">tutaj</a>.</p>

@if (ViewBag.returnurl != null && ViewBag.returnurl.Split('?')[0] != HttpContext.Current.Request.Url.AbsoluteUri.Split('?')[0])
{
    <p style="text-align:center"><a style="margin:20px;" class="btn btn-primary btn-lg" href="@ViewBag.returnurl.Replace(":"+HttpContext.Current.Request.Url.Port, "")" role="button">Powrót</a></p>
}

<hr />
<p><h4 style="text-align:center;color:#333;">Napisz do nas</h4></p>

<p style="text-align:center">
    Wszystkie pytania, uwagi oraz opinie prosimy o przesłanie na adres<br><a href="mailto:kontakt@proclever.pl">kontakt@proclever.pl</a>
</p>